<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<link rel="stylesheet" href="users.scss">
<h2>Users Table</h2>
<table>
  <tr>
    <th>User Id</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>

  <% @users_set.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.first_name, {:action =>"index", :controller => "photo", :id => user.id } %></td>
      <td><%= user.last_name %></td>
    </tr>
  <% end %>

</table>


</body>
</html>